* {
    box-sizing: border-box;
}

body {
    font: 16px Verdana, sans-serif;
    width: clamp(0px, calc(100% - 20px), 1200px);
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient( rgb(248 237 227), white );
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p {
    line-height: 1.5rem;
}

.current {
    color: brown !important;
    text-shadow: 0px 0px 5px white;
}

.bold {
    font-weight: bold;
}
/*----------------- .button -------------------------------*/
.button {
    padding: .5rem 1rem;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #7d6e83;
    color: white;
}

.button--navigation {
    border-radius: 50rem;
    margin-left: auto;
    border-style: none;
}

.button--card {
    margin-top: auto;
    margin-left: auto;
}
/*----------------- .navigation ---------------------------*/
.navigation {
    height: 6rem;
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
    background: #dfd3c3;
    padding: 1rem;
}

.navigation__logo {
    width: 300px;
}

.navigation__img {
    width: 100%;
}

.navigation__link {
    text-decoration: none;
    color: rgb(0 0 0 / .7);
    font-size: 2rem;
    margin-left: 3rem;
    padding: .3rem;
}
/*----------------- .content ------------------------------*/
.content {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    margin: 0 .5rem;
}
/*----------------- .article ------------------------------*/
.article {
    display: flex;
    flex-direction: column;
    border: 1px solid bisque;
    padding: 0 3rem 2rem;
    text-decoration: none;
    color: black;
    background: #dfd3c3;
}

.article__h2 {
    text-align: center;
}

.article__paragraph {
    margin: 0 0 2rem;
}

.article__img {
    width: 100%;
    margin-top: auto;
}
/*----------------- .form ---------------------------------*/
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0 3rem;
}

.form__label {
    font-weight: bold;
}

.form__field {
    padding: .3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: .4rem 0 .8rem;
    border: 1px solid #aaa;
}

.form__field:focus {
    border-color: black;
}

.form__field--date {
    width: unset;
}

.form__area {
    width: 100%;
    max-width: 800px;
    margin: .8rem 0;
}

.form--row {
    margin: 3rem 0;
    flex-direction: row;
    align-items: center;
}

.form__field--row {
    margin:0 1rem;
}
/*-------------------- .footer ----------------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    background: #dfd3c3;
    margin-top: 2rem;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: black;
    line-height: 1.6rem;
}

.footer__address {
    line-height: 1.6rem;
}

.footer__img {
    width: 120px;
}

/*=================== om.html =============================*/
/*------------------- .info -------------------------------*/
.info {
    margin: 0 .5rem;
    background: #dfd3c3;
    padding: .01rem 2rem;
}
/*------------------- .gallery ----------------------------*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
}

.gallery__img {
    width: 100%;
    transition: transform .25s;
}

.gallery__img:hover {
    transform: scale(1.2);
    /* width: 120%; */
    transition: transform .25s;
}

/*=================== boka.html ===========================*/
/*------------------ .booking-content ---------------------*/
.booking-content {
    margin: 0 .5rem;
}
/*------------------ .roomcard ----------------------------*/
 .roomcard {
    display: flex;
    border: 1px solid bisque;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    background: #dfd3c3;
 }

 .roomcard__img {
    width: 40%;
    height: 100%;
    margin-left: 1rem;
 }

 .roomcard__text {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
 }

/*====================== @media ===========================*/
@media screen and (max-width: 1074px) {
    .form--row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form__field--row {
        margin: .4rem 0 .8rem;
    }
/*---------------------------------------------------------*/
    .roomcard {
        flex-direction: column;
    }

    .roomcard__img {
        width: 100%;
        padding: .7rem;
        margin: 0;
    }

    .roomcard__text {
        width: 100%;
    }
}

/*=========================================================*/
@media screen and (max-width: 793px) {
    .navigation {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(6, 1fr);
        height: unset;
        grid-auto-rows: auto;
    }

    .navigation__logo {
        grid-column: 1 / span 4;
        grid-row: 1;
    }

    .button--navigation {
        grid-column: 5 / span 2;
        grid-row: 1;
        margin: 1rem;
    }

    .navigation__link {
        grid-column: span 3;
        padding: 1rem;
    }
/*---------------------------------------------------------*/
    .content {
        flex-direction: column;
    }
/*---------------------------------------------------------*/
    .article {
        width: 100%;
    }
/*---------------------------------------------------------*/
    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }
}

/*=========================================================*/
@media screen and (max-width: 450px) {
    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation * {
        margin: 0;
    }
    
    .form__field {
        width: 100%;
    }
}